<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/mvc
		https://www.springframework.org/schema/mvc/spring-mvc.xsd
		http://www.springframework.org/schema/context
		https://www.springframework.org/schema/context/spring-context.xsd">

    <!--扫描Controller层-->
    <context:component-scan base-package="com.oracleproject.controller">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <!-- FastJson JSON转换器 -->
    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>application/json;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!-- 静态资源处理-->
    <mvc:default-servlet-handler/>

    <!-- 自动拼接JSP路径，Controller返回字符串即可跳转页面 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!-- 页面前缀：JSP放在项目根目录-->
        <property name="prefix" value="/"/>
        <!-- 页面后缀：自动补充.jsp -->
        <property name="suffix" value=".jsp"/>
    </bean>


</beans>
